* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.React {
	display: flex;
	flex-wrap: wrap;
	width: 320px;
	justify-content: flex-start;
	align-items: center;
}
.React > div {
	border: 1px solid #111111;
	background-color: blue;
	margin: 5px;
	height: 30px;
	width: 150px;
	border-radius: 15px;
	display: flex;
	align-items: center;
	justify-content: center;
}
.React > div > p {
	font-size: 16px;
	font-weight: 400;
	padding: 5px;
	color: #fff;
}
