* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.tool {
	width: 100vw;
	height: 60px;
	background: #3f51b5;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.site {
	display: flex;
	align-items: center;
}
.site div a {
	font-size: 1.4rem;
	text-decoration: none;
	margin: 30px;
}
.cont {
	display: flex;
	align-items: center;
}
.drawer {
	margin: 15px;
}
.drawer a {
	color: #fff;
	text-decoration: none;
}
@media only screen and (max-width: 600px) {
	.logo a {
		display: none;
	}
}
