* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
body {
	max-width: 100vw;
	overflow-x: hidden;
	background: #2e3035;
	min-height: 100vh;
}
.header_cont {
	background: #ffffff
		url("https://s.imgur.com/desktop-assets/desktop-assets/homebg.e52b5cdf24f83bcd55f9f1318855f2ef.png");
	background-repeat: no-repeat;
	background-size: cover;
	height: 400px;
	width: 100vw;
}
.header_cont nav {
	display: grid;
	grid-template-columns: 30% 42% 28%;
}
.header_cont nav .nav_cont_1 {
	display: flex;
	align-items: center;
	margin: 15px;
}
.header_cont nav .nav_cont_1 div {
	display: flex;
	color: #ffffff;
	align-items: center;
	background: #31be7c;
	justify-content: center;
	height: 35px;
	border-radius: 5px;
	margin-left: 20px;
	cursor: pointer;
}
.header_cont nav .nav_cont_1 svg {
	cursor: pointer;
}
.header_cont nav .nav_cont_1 div img {
	position: relative;
	top: 2px;
	margin-left: 10px;
}
.header_cont nav .nav_cont_1 div p {
	width: 70px;
	margin: 5px 10px;
	font-size: 15px;
	font-weight: 500;
}
.header_cont nav .nav_cont_2 {
	margin: 15px;
	position: relative;
}
.header_cont nav .nav_cont_2 > div:nth-child(2) {
	margin-top: 10px;
	color: #fff;
	font-style: 15px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 40px;
	z-index: 2;
	height: 180px;
	align-items: flex-start;
	display: none;
}
.header_cont nav .nav_cont_2 > div:nth-child(2) > p {
	padding: 5px;
	cursor: pointer;
	width: 100%;
}
.header_cont nav .nav_cont_2 div {
	display: flex;
	align-items: center;
	height: 35px;
	background-color: #454469;
	border-radius: 5px;
	width: 500px;
	padding: 7px;
	justify-content: space-between;
}
.header_cont nav .nav_cont_2 div input {
	outline: none;
	height: 35px;
	background: inherit;
	border: none;
	caret-color: #fff;
	width: 90%;
	font-size: 16px;
	font-weight: 500;
	color: white;
}
.header_cont nav .nav_cont_2 div input::placeholder {
	color: #86859d;
	font-size: 15px;
	font-weight: 500;
}
.header_cont nav .nav_cont_2 div img {
	cursor: pointer;
}
.header_cont nav .nav_cont_3 {
	display: flex;
	margin: 15px;
	justify-content: space-evenly;
	align-items: center;
}
.header_cont nav .nav_cont_3 div {
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 35px;
	padding: 0 8px;
	border-radius: 5px;
	cursor: pointer;
}
.header_cont nav .nav_cont_3 div:nth-child(2) {
	background: #6432f9;
}
.header_cont nav .nav_cont_3 div:nth-child(4) {
	background: #31be7c;
}
.header_cont .header_text {
	display: flex;
	width: 100vw;
	justify-content: center;
}
.header_cont .header_text p {
	letter-spacing: 0.6px;
	color: #aed8ea;
	text-align: center;
	margin-top: 12px;
	min-height: 34px;
	position: relative;
	font-size: 24px;
	font-weight: 500;
}
.header_cont .header_main {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.header_cont .header_main .header_main_cont {
	display: flex;
	width: 90%;
	color: #86859d;
	font-size: 16px;
	font-weight: 500;
	align-items: center;
	justify-content: space-between;
}
.header_cont .header_main .header_main_cont div:first-child {
	display: flex;
	width: 100%;
	font-size: 18px;
	justify-content: space-between;
	align-items: center;
}
.header_card {
	display: flex;
	width: 100vw;
	justify-content: center;
	align-items: center;
	margin-top: 10px;
}
.header_card_main {
	display: flex;
	width: 90%;
	color: #86859d;
	font-size: 16px;
	font-weight: 500;
	justify-content: space-between;
}
.header_card_main_card {
	height: 130px;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	width: 220px;
	transition: 100ms ease-in-out;
	cursor: pointer;
}
.header_card_main_card_2 {
	cursor: pointer;
	height: 130px;
	overflow: hidden;
	border-radius: 5px;
	position: relative;
	transition: 100ms ease-in-out;
	width: 110px;
}
.header_card_main_card > div {
	position: absolute;
	bottom: 0;
	height: 60px;
	display: flex;
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
	background: #c56579;
	cursor: pointer;
}
.header_card_main_card:hover {
	transform: translateY(-5px);
}
.header_card_main_card_2 > div {
	position: absolute;
	cursor: pointer;
	bottom: 0;
	height: 60px;
	display: flex;
	color: #fff;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	background: #c56579;
	transition: 10ms ease-in-out;
}
.header_card_main_card_2:hover {
	transform: translateY(-5px);
}
.header_card_main > div:nth-child(1) {
	background: url("https://i.imgur.com/6Hxkaw9_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(2) {
	background: url("https://i.imgur.com/e9C2F3w_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(3) {
	background: url("https://i.imgur.com/9mWcJo6_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(4) {
	background: url("https://i.imgur.com/UNHGCt5_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(5) {
	background: url("https://i.imgur.com/9r1qCDq_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(6) {
	background: url("https://i.imgur.com/4LBx79U_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(7) {
	background: url("https://i.imgur.com/qaYq4fG_d.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(8) {
	background: url("https://i.imgur.com/avRBRpN.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main > div:nth-child(9) {
	background: url("https://i.imgur.com/nrFCOUB.jpg?maxwidth=800&shape=thumb&fidelity=high");
	background-repeat: no-repeat;
	background-size: cover;
}
.header_card_main_card > div > p {
	font-size: 14px;
	color: #fff;
}
.header_card_main_card > div > span {
	font-size: 13px;
	color: #ddb2bc;
}
.header_card_main_card_2 > div > p {
	font-size: 14px;
	color: #fff;
}
.header_card_main_card_2 > div > span {
	font-size: 13px;
	color: #ddb2bc;
}
.header_card_main > div:nth-child(2) > div {
	background: #3a2845;
}
.header_card_main > div:nth-child(3) > div {
	background: #4946b0;
}
.header_card_main > div:nth-child(4) > div {
	background: #ff7000;
}
.header_card_main > div:nth-child(5) > div {
	background: #633875;
}
.header_card_main > div:nth-child(6) > div {
	background: #ab80b8;
}
.header_card_main > div:nth-child(7) > div {
	background: #51535a;
}
.header_card_main > div:nth-child(8) > div {
	background: #60aebb;
}
.header_card_main > div:nth-child(9) > div {
	background: #2b1a5a;
}
.container {
	width: 100vw;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
}
.container_main {
	width: 80%;
	height: 100px;
}
.container_title {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.container_title > div {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 20%;
	color: #74738f;
	fill: #74738f;
	font-size: 18px;
	font-weight: 500;
	letter-spacing: 1.5px;
}
.container_title > div img {
	opacity: 0.4;
}
.container_title > div p::after {
	content: "";
	border: solid #74738f;
	border-width: 0 3px 3px 0;
	display: inline-block;
	padding: 3px;
	margin-left: 10px;
	position: relative;
	top: -3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
}
.container_body {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 20px;
}
.container_body > div {
	width: 24%;
	height: 1000px;
}
.card {
	width: 100%;
	margin-bottom: 13px;
	border-radius: 5px;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 40%);
	cursor: pointer;
}
.card:hover {
	opacity: 0.8;
	box-shadow: 0 2px 4px 0 rgb(0 0 0 / 60%);
}
.card img {
	width: 100%;
	overflow: hidden;
	border-radius: 5px 5px 0px 0px;
}
.card > div {
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.card_detail_cont {
	height: 70px;
	overflow: hidden;
	background: #67686f;
	color: #fff;
	font-size: 16px;
	font-weight: 500;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	padding-left: 10px;
	border-radius: 0 0 5px 5px;
}
.card_detail {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding-right: 10px;
}
.card_detail > span {
	display: flex;
	align-items: center;
	justify-content: space-between;
	color: #fff;
}
.card_detail > span p {
	margin-left: 5px;
}
.card_detail p {
	overflow: hidden;
	font-size: 14px;
	font-weight: 500;
}
