* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.container {
	display: flex;
	width: 60vw;
	margin-top: 20px;
	height: 200px;
	border-radius: 20px;
	justify-content: space-between;
	align-items: center;
	position: relative;
	background: #f4f4f4;
}
.first {
	margin: 20px;
}
.first img {
	border-radius: 10px;
	border: 1px solid black;
	height: 150px;
	width: 150px;
	margin: 30px;
}
.second {
	position: relative;
	top: -10px;
	right: 100px;
}
.third {
	position: relative;
	top: -50px;
}
.third p {
	margin-right: 30px;
}
.third button {
	color: green;
	border: 1px solid green;
	background-color: transparent;
	padding: 5px;
	border-radius: 10px;
	position: relative;
	top: 60px;
}
.second h2 {
	text-transform: capitalize;
	font-size: 30px;
	font-weight: 600;
}
.second h3 {
	text-transform: capitalize;
	font-size: 24px;
	font-weight: 600;
}
.second h4 {
	text-transform: capitalize;
	font-size: 20px;
	font-weight: 600;
}
.second h6 {
	font-size: 14px;
	font-weight: 600;
}
