* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}
.container {
	width: 900px;
	height: 600px;
	background: #28223f;
	display: flex;
	align-items: center;
	position: relative;
	flex-direction: column;
}
.container > div {
	background: #231e39;

	width: 400px;
	display: flex;
}
.container > div:first-child {
	height: 700px;
	color: #9b8f99;
	margin-top: 20px;
	align-items: center;
	flex-direction: column;
	border-top-left-radius: 20px;
	border-top-right-radius: 20px;
}
.container > div:last-child {
	margin-bottom: 20px;

	justify-content: center;
	align-items: center;
}
.container > div:first-child > div:first-child {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 110px;
	width: 110px;
	border-radius: 55px;
	border: 2px solid #03bfcb;
	margin-top: 50px;
	margin-bottom: 10px;
}
.container > div > div > img {
	height: 100px;
	width: 100px;
	border-radius: 500px;
}
h1 {
	margin-top: 10px;
	font-size: 20px;
	font-weight: 400;
}
h2 {
	margin-top: 10px;
	font-size: 16px;
	font-weight: 400;
}
h3 {
	margin: 20px;
	font-size: 18px;
	font-weight: 300;
}
p {
	color: #9b8f99;

	margin: 5px;
}
.container > div:last-child {
	display: flex;
	background-color: #1f1a36;
	flex-direction: column;
	height: 50px;
	align-items: initial;
	height: 240px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
}
.container > div:last-child > div {
	display: flex;
	flex-wrap: wrap;
}
.container > div:first-child button {
	margin: 5px;
	height: 30px;
	width: 100px;
	font-size: 16px;
	padding: 3px;
	margin-top: 40px;
	border-radius: 5px;
}
.container > div:first-child button:last-child {
	color: #03bfcb;
	border: 1px solid #03bfcb;
	background: #231e39;
}
.container > div:first-child button:first-child {
	color: #231e39;
	border: 1px solid #03bfcb;
	background: #03bfcb;
}
.container > div:last-child button {
	margin: 5px;
	background: #231e39;
	color: #9b8f99;
	border: 1px solid #9b8f99;
	padding: 3px;
	border-radius: 5px;
	width: 20%;
}
