* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.card {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	border-radius: 20px;
}
.card div {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
	flex-direction: column;
}
.card div:nth-child(3) {
	flex-direction: row;
}
.card div:nth-child(2) {
	align-items: flex-start;
	position: relative;
}
.card div img {
	height: 50px;
	width: 50px;
	border-radius: 25px;
}
.card p {
	margin-right: 30px;
	padding: 5px;
	font-size: 16px;
	font-weight: 500;
}
