* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
.rcard section {
	width: 100vw;
	transform: scale(1.12);
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	margin-top: 100px;
}
